# Entorno virtual
.venv/

# Base de datos
db.sqlite3
db.sqlite3-journal

# Caché de Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Entorno / secretos
.env
*.env

# IDE / editor
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
